* {
  box-sizing: border-box;
}

:root {
  --background-color: #f2f5fa;
  --heading-color: #131821;
  --input-color: #4066a5;
  --text-color: #6a707b;
  --border-color: #e3e3e4;
}

body {
  overflow-x: hidden;
}

.base {
  display: flex;
  height: 100vh;
  max-width: 100vw;
}

.main-action {
  height: 100%;
  width: 35%;
  max-width: 680px;
  padding: 100px;
  background: linear-gradient(180deg, #ffffff 0%, var(--background-color) 100%);
  flex-grow: 1;
}
.img-container {
  width: 65%;
  height: 100vh;
  flex-grow: 1;
  background-image: url('./assets/image_summer.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 100px;
  margin-top: 100px;
}

.logo {
  max-width: 120px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 25px;
}

.logo span {
  margin-top: 6px;
  margin-left: 15px;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  margin-left: 113px;
  height: 30px;
}
.navLinks li {
  margin-right: 30px;
}
.navLinks li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color);
  line-height: 26px;
}
.navLinks li:nth-child(2) {
  width: 95px;
}

.navLinks li:last-child {
  margin-right: 0;
}

.headings {
  margin-top: 234px;
}

.headings p {
  margin: 0;
  margin-left: 40px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-color);
}
.thanks {
  margin-top: 32px;
}
.thanks p {
  margin: 0;
  margin-left: 40px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-color);
}

.thanks h1 {
  margin-left: 40px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 15px;
  color: var(--heading-color);
}

.headings h1 {
  margin-left: 40px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 15px;
  color: var(--heading-color);
}

.form {
  margin-top: 50px;
  position: relative;
}
.form label {
  color: var(--text-color);
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  display: flex;

  margin-left: 40px;
}
.form label div {
  margin-right: 15px;
}

.form label a {
  text-decoration: underline;
  color: var(--heading-color);
  display: inline-block;
  margin-left: 10px;
}

.form label a:hover {
  color: var(--input-color);
}

.form label a:active {
  color: #233759;
}

input.text {
  position: absolute;
  top: 0;
  left: 0px;
  height: 70px;
  width: 580px;
  border: none;
  border: 1px solid var(--border-color);
  border-left: 4px solid var(--input-color);
  font-size: 16px;
  padding-left: 40px;
  padding-right: 44px;
}
input.text:hover {
  border: 1px solid var(--input-color);
  border-left: 4px solid var(--input-color);
  box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}
input.text:focus {
  box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
  outline: none;
}

input.text.error {
  border: 1px solid #b80808;
  border-left: 4px solid #b80808;
  box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}

input.checkbox {
  margin-top: 108px;
  opacity: 0;
}
.checkboxDiv {
  width: 26px;
  height: 26px;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #e3e3e4;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkboxDiv-active {
  background-color: var(--input-color);
}
.checkMark {
  color: white;
  font-size: 16px;
}

.divider {
  margin-left: 40px;
  background-color: var(--border-color);
  width: 400px;
  height: 1px;
  margin-top: 50px;
}
input.text:hover ~ button {
  border-color: var(--input-color);
}

input.text.error:hover ~ button {
  border-color: #b80808;
}

.form button {
  width: 83px;
  height: 70px;
  background-color: #ffffff;
  border: 1px solid var(--border-color);
  border-left: none;
  position: absolute;
  top: 0;
  right: -182px;
  font-size: 24px;
  padding: 0;
  padding-right: 15px;
}
.form button:disabled .arrowRight {
  color: var(--heading-color);
  opacity: 0.3;
}
.invalid {
  position: absolute;
  top: 80px;
  left: 0;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #b80808;
  margin-bottom: 10px;
}

.form button.error {
  border: 1px solid #b80808;
}

.form button .arrowRight {
  color: var(--input-color);
  opacity: 1;
}
.icon {
  border: 2px solid #e3e3e4;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.icon a {
  color: var(--heading-color);
  opacity: 0.3;
  font-size: 18px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  border: none;
}
.icon:hover a {
  color: white;
  opacity: 1;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.icon.facebook:hover {
  background-color: var(--input-color);
}
.icon.facebook:active {
  background-color: #2f4a80;
}

.icon.instagram:hover {
  background-color: #c13584;
}
.icon.instagram:active {
  background-color: #8f2762;
}

.icon.twitter:hover {
  background-color: #1da1f2;
}
.icon.twitter:active {
  background-color: #177fbf;
}
.icon.youtube:hover {
  background-color: #ff0000;
}
.icon.youtube:active {
  background-color: #cc0000;
}

.iconList {
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social {
  margin-top: 50px;
}

.cup {
  width: 44px;
  height: 70px;
  margin-top: 233px;
  margin-left: 40px;
}

@media (max-width: 2562px) {
  .navLinks {
    margin-left: 75px;
  }
  input.text {
    width: 660px;
  }
}

@media (max-width: 2155px) {
  input.text {
    width: 480px;
  }
  .divider {
    width: 300px;
  }
}

@media (max-width: 1590px) {
  .logo span {
    display: none;
  }
}

@media (max-width: 1439px) {
  nav {
    margin-left: 50px;
  }

  .main-action {
    padding: 50px;
  }
  .headings {
    margin-top: 125px;
  }
  .divider {
    width: 250px;
    margin-top: 30px;
  }
  input.text {
    width: 430px;
  }
  .navLinks {
    margin-left: 30px;
  }
  .form label {
    margin-left: 0;
  }
}

@media (max-width: 1023px) {
  nav {
    margin: 0;
    width: 100vw;
    background-color: #ffffff;
    height: 66px;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
  }
  .img-container {
    width: 100%;
  }
  .main-action {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 371px;
    width: 335px;
    padding: 30px 20px;
  }

  .headings {
    margin-top: 0;
  }
  .headings p {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 26px;
  }
  .headings h1 {
    margin: 0;
    font-size: 24px;
    line-height: 34px;
  }

  .form {
    margin-top: 20px;
  }
  input.text {
    height: 60px;
    width: 265px;
    padding-left: 19px;
    padding-right: 49px;
  }
  input.text::placeholder {
    font-size: 14px;
  }
  .form button {
    right: 0;
    width: 49px;
    height: 60px;
    border-left: none;
    font-size: 24px;
  }
  .form label {
    margin-left: 0;
    margin-top: -25px;
  }
  .divider {
    width: 295px;
    height: 1px;
    margin-top: 20px;
    margin-left: 0;
  }
  .social {
    margin-top: 20px;
  }
  input.checkbox {
    margin-top: 80px;
  }
  .navLinks li {
    margin-right: 20px;
  }
  .navLinks li a {
    font-size: 14px;
    line-height: 24px;
  }

  .cup {
    margin-top: 0;
    margin-left: 0;
  }
  .thanks {
    margin-top: 41px;
  }
  .thanks h1 {
    margin-left: 0;
    font-size: 24px;
    line-height: 34px;
  }
  .thanks p {
    margin-left: 0;
    font-size: 14px;
    line-height: 26px;
  }
}
